In [306]:
import pandas as pd
import csv
import numpy
import os
import re
SITENAME = "IMMO_FR.NEUF_EXPLORIMMOiiii"
DATE = "2021_06"
FILENAME = "/home/databiz33/Bureau/CSV_Files/2021_06/EXPLOR/Nouveau dossier/Nouveau dossier/IMMO_FR.NEUF_EXPLORIMMO_2021_06.csv"

OUTPUT = "Outputs"

##### to export only database field ####
FEED_EXPORT_FIELDS = [u"ANNONCE_LINK", u"FROM_SITE", u"ID_CLIENT", u"ANNONCE_DATE", u"ACHAT_LOC", u"SOLD", u"MAISON_APT", u"CATEGORIE", u"NEUF_IND", u"NOM", u"ADRESSE", u"CP", u"VILLE", u"QUARTIER", u"DEPARTEMENT", u"REGION", u"PROVINCE", u"ANNONCE_TEXT", u"ETAGE", u"NB_ETAGE", u"LATITUDE", u"LONGITUDE", u"M2_TOTALE", u"SURFACE_TERRAIN", u"NB_GARAGE", u"PHOTO", u"PIECE", u"PRIX", u"PRIX_M2", u"URL_PROMO", u"STOCK_NEUF", u"PAYS_AD", u"PRO_IND", u"SELLER_TYPE", u"MINI_SITE_URL", u"MINI_SITE_ID", u"AGENCE_NOM", u"AGENCE_ADRESSE", u"AGENCE_CP", u"AGENCE_VILLE", u"AGENCE_DEPARTEMENT", u"EMAIL", u"WEBSITE", u"AGENCE_TEL", u"AGENCE_TEL_2", u"AGENCE_TEL_3", u"AGENCE_TEL_4", u"AGENCE_FAX", u"AGENCE_CONTACT", u"PAYS_DEALER", u"NEUKOLLN_FROM_LISTING_PAGE", u"NEUKOLLN_ORIGINAL_PHONE_AGENCE_TEL", u"NEUKOLLN_DEFAULT_CC_AGENCE_TEL", u"NEUKOLLN_ORIGINAL_PHONE_AGENCE_FAX", u"NEUKOLLN_DEFAULT_CC_AGENCE_FAX"]

In [331]:
SITENAME = "IMMO_FR.NEUF_EXPLORIMMOiiii"

In [307]:
##### DISPLAY FULL settings######
pd.set_option('display.max_colwidth', -1)

In [308]:
##### READ the CSV #####
df = pd.read_csv(FILENAME, sep= ";",low_memory=False,dtype = object)

In [309]:
##### Make sure we have some tels ####
df.AGENCE_TEL.describe()

count     180732
unique    1860
top       236162253
freq      16177
Name: AGENCE_TEL, dtype: object

In [310]:
df.DEPARTEMENT.describe()

count     181717
unique    100
top       49
freq      11523
Name: DEPARTEMENT, dtype: object

In [311]:
##### deduplicate on ID_CLIENT #####
df_dedup = df.drop_duplicates(subset='ID_CLIENT')

In [183]:
len(df_dedup)

181717

In [312]:
df2 = pd.read_csv("IMMO_FR.NEUF_EXPLORIMMO_2021_05.csv", sep=";", low_memory=False,dtype=object)

# ADRESSE & Ville

In [313]:
lv=[]
for i in df_dedup.VILLE:
    lv.append(i.split(' (')[0])
df_dedup.VILLE=lv

In [ ]:
ld=[]
for i in df_dedup.VILLE:
    if ==
    ld.append(i.split(' (')[0])
#df_dedup.VILLE=ld


#df_dedup.ADRESSE=df_dedup.VILLE+' '+'('+df_dedup.CP+')'

In [2]:
#df_dedup.VILLE

In [314]:
#####COLUMN_AGENCE_TEL####

list_tel=df_dedup["AGENCE_TEL"]
index=0
for i in range(0,len(df_dedup)):
    try:
        if ( str(df_dedup.loc[i,"AGENCE_TEL"])=='nan' ):
            for j in range(0,len(df2)):
                if(df_dedup.loc[i,"ID_CLIENT"] == df2.loc[j,"ID_CLIENT"]) and (str(df2.loc[j,"AGENCE_TEL"]) != "nan"):
                    list_tel[index]=df2.loc[j,"AGENCE_TEL"]
    except:
         
             list_tel[index]=df_dedup.loc[j,"AGENCE_TEL"]
                
    index=index+1
         
        
        

len(list_tel)

181717

In [315]:
df_dedup["AGENCE_TEL"]=list_tel

In [157]:
df_dedup.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 181717 entries, 0 to 181716
Data columns (total 55 columns):
ANNONCE_LINK                          181717 non-null object
FROM_SITE                             181717 non-null object
ID_CLIENT                             181717 non-null object
ANNONCE_DATE                          3757 non-null object
ACHAT_LOC                             181717 non-null object
SOLD                                  181717 non-null object
MAISON_APT                            0 non-null object
CATEGORIE                             181715 non-null object
NEUF_IND                              181717 non-null object
NOM                                   181715 non-null object
ADRESSE                               4236 non-null object
CP                                    181717 non-null object
VILLE                                 181717 non-null object
QUARTIER                              0 non-null object
DEPARTEMENT                           181717 non-null object
REGION                                181715 non-null object
PROVINCE                              0 non-null object
ANNONCE_TEXT                          181717 non-null object
ETAGE                                 177960 non-null object
NB_ETAGE                              0 non-null object
LATITUDE                              181707 non-null object
LONGITUDE                             181577 non-null object
M2_TOTALE                             180802 non-null object
SURFACE_TERRAIN                       0 non-null object
NB_GARAGE                             0 non-null object
PHOTO                                 133816 non-null object
PIECE                                 148649 non-null object
PRIX                                  181713 non-null object
PRIX_M2                               0 non-null object
URL_PROMO                             0 non-null object
STOCK_NEUF                            181715 non-null object
PAYS_AD                               181717 non-null object
PRO_IND                               0 non-null object
SELLER_TYPE                           181717 non-null object
MINI_SITE_URL                         0 non-null object
MINI_SITE_ID                          181717 non-null object
AGENCE_NOM                            181485 non-null object
AGENCE_ADRESSE                        0 non-null object
AGENCE_CP                             181715 non-null object
AGENCE_VILLE                          181715 non-null object
AGENCE_DEPARTEMENT                    181715 non-null object
EMAIL                                 0 non-null object
WEBSITE                               0 non-null object
AGENCE_TEL                            180732 non-null object
AGENCE_TEL_2                          1 non-null object
AGENCE_TEL_3                          0 non-null object
AGENCE_TEL_4                          0 non-null object
AGENCE_FAX                            0 non-null object
AGENCE_CONTACT                        0 non-null object
PAYS_DEALER                           0 non-null object
NEUKOLLN_FROM_LISTING_PAGE            0 non-null object
NEUKOLLN_ORIGINAL_PHONE_AGENCE_TEL    2774 non-null object
NEUKOLLN_DEFAULT_CC_AGENCE_TEL        2772 non-null object
NEUKOLLN_ORIGINAL_PHONE_AGENCE_FAX    0 non-null object
NEUKOLLN_DEFAULT_CC_AGENCE_FAX        0 non-null object
dtypes: object(55)
memory usage: 82.6+ MB

In [316]:
##### check the adress format #####
adr_check = df_dedup["ADRESSE"][df_dedup["ADRESSE"].notnull()]
adr_check = adr_check[adr_check.str.len() > 255]

if len(adr_check) == 0:
    print('All ADRESSE < 255 digits ==> OK')
else:
    print("Some ADRESSE > 255 digits ==> ERROR")
    print(adr_check)

All ADRESSE < 255 digits ==> OK

In [317]:
####CLEANING_M2_TOTALE
list_m2_tot=[]
for el in df_dedup["M2_TOTALE"]:
    if '.' in str(el):
        elem=str(el).split('.')[0]
        list_m2_tot.append(elem)
    else:
        list_m2_tot.append('')

In [318]:
df_dedup["M2_TOTALE"]=list_m2_tot

In [319]:
#### check the agence adress format ####
agence_adr_check = df_dedup["AGENCE_ADRESSE"][df_dedup["AGENCE_ADRESSE"].notnull()]
agence_adr_check = agence_adr_check[agence_adr_check.str.len() > 255]

if len(agence_adr_check) == 0:
    print('All AGENCE_ADRESSE  < 255 digits ==> OK')
else:
    print("Some AGENCE_ADRESSE > 255 digits  ==> ERROR")
    print(agence_adr_check)

All AGENCE_ADRESSE  < 255 digits ==> OK

In [320]:
##### check the CP format ####
cp_check = df_dedup["CP"][df_dedup["CP"].notnull()]
cp_check = cp_check[cp_check.str.len() != 5]

if len(cp_check) == 0:
    print('All CP on 5 digits ==> OK')
else:
    print("Some CP not in 5 digits ==> ERROR")
    print(cp_check)

All CP on 5 digits ==> OK

In [321]:
#### check the agence CP format ####
agence_cp_check = df_dedup["AGENCE_CP"][df_dedup["AGENCE_CP"].notnull()]
agence_cp_check = agence_cp_check[agence_cp_check.str.len() != 5]

if len(agence_cp_check) == 0:
    print('All AGENCE_CP on 5 digits ==> OK')
else:
    print("Some AGENCE_CP not in 5 digits ==> ERROR")
    print(agence_cp_check.describe())

All AGENCE_CP on 5 digits ==> OK

In [53]:
#### display ####
df_dedup.describe()

,ANNONCE_LINK,FROM_SITE,ID_CLIENT,ANNONCE_DATE,ACHAT_LOC,SOLD,MAISON_APT,CATEGORIE,NEUF_IND,NOM,...,AGENCE_TEL_3,AGENCE_TEL_4,AGENCE_FAX,AGENCE_CONTACT,PAYS_DEALER,NEUKOLLN_FROM_LISTING_PAGE,NEUKOLLN_ORIGINAL_PHONE_AGENCE_TEL,NEUKOLLN_DEFAULT_CC_AGENCE_TEL,NEUKOLLN_ORIGINAL_PHONE_AGENCE_FAX,NEUKOLLN_DEFAULT_CC_AGENCE_FAX
count,181717,181717,181717,3757,181717,181717,0.0,181715,181717,181715,...,0.0,0.0,0.0,0.0,0.0,0.0,2774,2772,0.0,0.0
unique,181717,1,181717,147,1,1,0.0,7,1,4805,...,0.0,0.0,0.0,0.0,0.0,0.0,305,1,0.0,0.0
top,https://www.explorimmoneuf.com/logement/detail-32224143,http://www.explorimmoneuf.com,31707291,2021-05-31 00:00:00,1,N,NaN,maison,Y,Maison 4 pièces,...,NaN,NaN,NaN,NaN,NaN,NaN,0 800 950 750,FR,NaN,NaN
freq,1,181717,1,748,181717,181717,NaN,176101,181717,57258,...,NaN,NaN,NaN,NaN,NaN,NaN,161,2772,NaN,NaN

In [ ]:
#df = df[df.line_race != 0]

In [258]:
df_dedup_false = df_dedup[df_dedup.ETAGE =="false"]
df_dedup_true = df_dedup[df_dedup.ETAGE =="true"]
#df_dedup_false = df_dedup[df_dedup.ETAGE =="false"]

In [259]:
#df_dedup_vi = df_dedup[ [i for i in df_dedup.ETAGE if ]]
df_dedup_vi = df_dedup.loc[df_dedup.ETAGE!='true']

In [260]:
len(df_dedup_vi)

5633

In [261]:
len(df_dedup_false)

1876

In [262]:
len(df_dedup_true)

176084

In [263]:
ANN_link_true=df_dedup_true.ANNONCE_LINK

In [242]:
j=0
for i in df_dedup.ETAGE:
    if str(i)=="nan":
        #rint(i)
        j+=1
#rint(j)
#df_dedup.ETAGE.isna().count()

In [105]:
#df_dedup.ETAGE

In [323]:
df_dedup["ETAGE"]=""
df_dedup["ANNONCE_DATE"]=""

In [243]:
len(df_dedup_false)

1876

In [166]:
len(df_dedup_true)

176084

In [324]:
#ANN_link_true

In [269]:
an_list=ANN_link_true.tolist()

In [271]:
import csv
with open('ANNONCE_LINK_TRUE.csv', 'w', newline='') as f:
    writer = csv.writer(f)
    writer.writerows(an_list)

In [333]:
#### create the output directory ####
filefolder = OUTPUT + "/" + DATE +"/"
filepath = filefolder  + SITENAME+"_"+DATE+".csv"
if not os.path.exists(filefolder):
            os.makedirs(filefolder)

In [334]:
##### write csv to send to livraison server ####
df_dedup.to_csv(filepath,columns = FEED_EXPORT_FIELDS ,sep=";",quoting=csv.QUOTE_ALL,index=False,encoding='utf-8')

In [328]:
#### function to count stock neuf ####
def count_stock(x):
    if type(x) == numpy.float:
        return 0
    else:
        return int(x)

In [330]:
#### to be send to the analyst only for NEUF website  ####
df_dedup.STOCK_NEUF.apply(lambda x : count_stock(x)).sum()

210570

In [305]:
l1=df2["ANNONCE_LINK"]
l2=df_dedup_false["ANNONCE_LINK"]
r1, r2= set(l1), set(l2)
r3=r2.difference(r1)
print(len(r3))

1431

In [116]:
len(df_dedup)

1876

In [117]:
len(df_dedup2)

176084

In [249]:
#df_dedup_vi

In [332]:
#df_dedup_vi.ANNONCE_LINK+" "+df_dedup_vi.ETAGE